<allowedOrigins hint="list:AddOrigin">
    <origin>http://example.com</origin>  
    <origin>http://localhost:39467</origin> 
    <origin>http://localhost:3000</origin> 
 <origin>https://example.com</origin>  
    <origin>https://localhost:39467</origin> 
    <origin>https://localhost:3000</origin> 
 <origin>https://localhost:3000</origin> 
 <origin>https://localhost:3000</origin> 
 <origin>https://vduuungr-app.sitecoredemo.com</origin>
 <origin>http://vduuungr-app.sitecoredemo.com</origin>  
</allowedOrigins>